<%- include('header') %>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Social Authentication</a>
      </div>
    </nav>
    <div class="section" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <div class="col">

            <div class="card">
              <div class="card-action">
                <a href="/auth/facebook" class="btn social facebook">
                  <span class="fa fa-facebook"></span> Sign in with facebook
                </a>
              </div>

              <div class="card-action">
                <a href="/auth/google" class="btn social google">
                  <span class="fa fa-google fa-fw"></span> Sign in with Google
                </a>
              </div>

              <div class="card-action">
                <a href="/auth/linkedin" class="btn social linkedin">
                  <span class="fa fa-linkedin"></span> Sign in with Linkedin
                </a>
              </div>

              <div class="card-action">
                <a href="/auth/microsoft" class="btn social microsoft">
                  <span class="fa fa-windows" aria-hidden="true"></span> Sign in with Microsoft
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>