<!doctype html>
<html>

<head>
  <title>Social Auth</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


  <!-- GOOGLE -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <style>
    .facebook {
      background-color: #3b5998 !important;
      color: #fff !important;
    }

    .google {
      background-color: #dd4b39 !important;
      color: #fff !important;
    }

    .linkedin {
      background-color: #0073b1 !important;
      color: #fff !important;
    }

    .microsoft {
      background-color: #fff !important;
      color: #000 !important;
    }
  </style>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Social Authentication</a>
    </div>
  </nav>
  <div class="section" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <div class="col">

          <div class="card">
            <div class="card-action">
              <a href="/auth/facebook" class="btn social facebook">
                <span class="fa fa-facebook"></span> Sign in with facebook
              </a>
            </div>

            <div class="card-action">
              <a href="/auth/google" class="btn social google">
                <span class="fa fa-google fa-fw"></span> Sign in with Google
              </a>
            </div>

            <div class="card-action">
              <a href="/auth/linkedin" class="btn social linkedin">
                <span class="fa fa-linkedin"></span> Sign in with Linkedin
              </a>
            </div>

            <div class="card-action">
              <a href="/auth/microsoft" class="btn social microsoft">
                <span class="fa fa-windows" aria-hidden="true"></span> Sign in with Microsoft
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>